hivebox-app/*/__pycache__/
hivebox-app/__pycache__/
.venv/
.pytest_cache/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/hivebox-app-cluster-config
terraform/terraform.tfstate
terraform/terraform.tfstate.backup